body{
    margin:0;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
}
#container{
    width:80%;
    margin:auto;
    background-color: #542a52;
    height:65px;
    padding:5px;
}
h2{
    color:#fff;
}
#studentName{
    width:80%;
    margin:auto;
    background-color: rgb(105, 91, 91);
}
#surname{
    width:50%;
    padding-top:10px;
    float:left;
}
#givename{
    width:50%;
    padding-top:10px;
    float:left;

}
#gender{

    padding-top:15px;
}
#genders{
    width:100%;
    height:45px;
    margin:auto;
    border:1px solid #542a52;
}
#dateOfBirth{
    width: 50%;
    float: left;
}
#Country{
    width: 50%;
    float: left;
}
#residence{
    width: 50%;
    float:left;
}

/* Phon number field */
#PhoneNumber{
    width: 50%;
    float:left;
}

#email{
    padding-top:10px;
}


#skills{
    width:50%;
    float:left;
}
#projects{
    width:50%;
    float:left;
}
#buttons{
    width: 50%;
    border:1p solid #542a52;
    float: right;
}
#submit{
    width:100px;
    height: 35px;
    margin-top:30px;
    float: left;
    margin-left: 200px;
}
#cancel{
    width:100px;
    height: 35px;
    margin-top:30px;
    float:right;
}
sup{
    color:red;
}