body{
    margin: 0px;

}


.container{
    width: 50%;
    margin: 15px auto;
    background-color: azure;
    padding: 30px;
}


.topD{
    width: 100%;
    height: 50px;
    background-color: #542a54;
}


h1{
    color: #ffffff;
    font-family: Tahoma, Arial, sans-serif;
    padding-left: 20px;
}


p{
    padding-left: 20px;
    color: #542a54;
    font-family: Tahoma, Arial, sans-serif;
}


.formD{
    margin-left: 20px;
}


label{
    color: #542a54;
    font-family: Tahoma, Arial, sans-serif;
}


input{
    border: 1px solid #542a54;
    padding-left: 10px;
}


.genD{
    border: 1px solid #542a54;
    height: 25px;
    margin-top: 10px;
    padding-top: 5px;
}


#surname{
    width: 300px;
    height: 25px;
}


#givename{
    width: 300px;
    height: 25px;
    margin-left: 30px;  
}


#given{
    margin-left: 30px; 
}

.gender{
    margin-top: 20px;
}

#female{
    margin-left: 100px;
}

.dated{
    margin-top: 10px;
}


select{
    width: 313px;
    height: 25px;
    border: 1px solid #542a54;
    padding-left: 10px;
}

#country{
    margin-left: 30px; 
}

#countrylab{
    margin-left: 30px;
}

#location{
    width: 300px;
    height: 25px;
}

#phone{
    width: 300px;
    height: 25px;
    margin-left: 30px;
}
#phonelab{
    margin-left: 30px;
}

#email{
    width: 646px;
    height: 25px;
}

.mag{
    margin-top: 10px;

}

#date{
    width: 300px;
height: 25px;
}
