body{

    
    font-family: sans-serif;

}
form{
    width: 80%;
    margin-left: 10%;

}
h2{
    background-color: rgb(84,42,82);
    color: white;
    padding: 2%;
    font-size: 30px;
    margin-right: 4.7%;
    /* width: 80%; */
}
input{
    border-radius: 0;
    height: 30px;
    width: 90%;
    margin-top: 2%;
    border: 1px solid black ;
    font-family: sans-serif;


}
.gender{
    border: 1px solid black ;
    width: 191%;
    display: flex;
}

table{
    width: 100%;
}
td{
    width: 40%;
  
}
button{
    float: right;
    background-color: rgb(84,42,82);
    color: white;
    width: 200px;
    height: 30px;
    /* font-weight: 300%; */
    border: 0;
    margin-left: 20px;
    margin-bottom: 2%;
    font-size: 180%;
    margin-top: 1.5%;
    border-radius: 0;

}
.cancel{
    margin-right: 4.7%;
}
#surnameError{
    color: red;
}