.bim{
    height: 170px;
}
.yes{
border:2px solid grey;

}
.no{
border:2px solid red;

}
.bee{
font-weight: bold;
text-align: right
}
.bar{
border-bottom: 2px solid #542a52;
 
}
.mar{
margin-top: 20px
}
.col{
color: grey
}
