html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

body {
	color: #542a52;
	font-family: "tahoma";
}

.container {
	margin: 1em auto;
}

header {
	margin-bottom: 1em;
}

.group-form {
	margin-bottom: 6px;
}

h2 {
	background: #542a52;
	color: white;
	padding-left: 1em;
	height: 1.5em;
	line-height: 1.5em;
}

.asteric {
	color: red;
}

.error {
	color: red;
	font-size: .9em;
	margin: .2em .8em;
}

/*form input styles*/
input[type="text"],
input[type="email"],
input[type="tel"],
select {
	width: 100%;
	padding: 1px 5px;
	border: 1px solid #542a52;
}

input[type="email"] {
	width: 210%;
}

textarea {
	resize: none;
	width: 100%;
	height: 90px;
	display: block;
	border: 1px solid #542a52;
}

[placeholder] {
	font-size: .9em;
}

.submit,
.cancel {
	padding: 3px 5px;
	width: 48%;
}

.cancel {
	background: white;
	border: solid 1px #542a52;
	color: #542a52;
}

.submit {
	background: #542a52;
	color: white;
	border: solid 1px #542a52;
}
