.container{
    text-align: center;
    font-size: 20px;
    font-family:Tahoma,Arial,sans-serif;
color: #542a52;
width: 50%;
    
}

h1{
    color: #fff;
    background-color: #542a52;
}
p{
    color: #542a52;
}

/* #item{
    width: 100px;
    height: 20px;
} */

#name{
    text-align: center;
    width: 0in
}