
#student-profile{
    border: 2px solid rgb(84,42,82);
    width: 70%;
    margin: 0px auto;
    color: rgb(84,42,82);
    
    /* height: 60%; */
}
/* *{
    color: red;
} */
h1{
    background-color: rgb(84,42,82);
    height: 50px;
    margin-top: 0px;
    color: white;
}
/* .first-div{
    border: 1px solid gray;
} */

.div-inputs{
    border: 1px solid gray;
    margin-top: 10px;
    height: 40px;
    margin-right: 20px;
    padding-left: 20px;
}
#female{
    padding-left:100px;
}
input[type=text], input[type=email], #country{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}
label{
    margin-top: 20px;
}
input[type=textarea]{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    margin-top: -30px;

}
button[type=submit], button[type=cancel]{
    width: 45%;
    height: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;

    /* margin-top: 10px; */
}
button[type=submit]{
    background-color: rgb(84,42,82);
    color: white;
    
}
button[type=cancel]{
    color: rgb(84,42,82);
    background-color: white;
}