
#row1
{
background-color: #542a52;
font-size: 30px;
color: white;
height: 60px;

}
p
{
color:#542a52;

}
#con
{
width: 750px;
height: auto;
}

#r1lhs, #r1rhs, #dobcou, #ctry, #place, #pho, #pho 
{
 
    height: 60px;
}
#ski, #pro
{
    height: 150px;
}

.asterix
{
    color: red;
}

#country
{
width: 345px;
height: 30px;

}