/* Ankunda Nisha
Styling the form */

/* setting the margin of the page */
form{
    margin: 30px;
}

/* styling the header */
.header{
background-color: rgb(84,42,82);
/* text-align: center; */
height: 10%;
width: 44%;
}

/* styling the fonts */
h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
p{
    color: rgb(84,42,82);
    font-family: Arial, Helvetica, sans-serif;
    
}

/* styling the '*' */
#red{
    color: red;
}

/* stylinng the labels */
label{
    color: rgb(84,42,82);
}

/* Styling the different fields so that they can be aligned */
.up{
    margin-left: 320px;
    margin-top: -38px;
}
.upo{
    margin-left: 320px;
}
.side{
    margin-left: 320px;
    margin-top: -38px; 
}
.sido{
    margin-left: 320px;
}
.move{
    margin-left: 320px;
    margin-top: -38px; 
}

.moved{
    margin-left: 320px; 
}
.pro1{
    margin-left: 300px;
    margin-top: -96px;
}
.pro2{
    margin-left: 300px;
}

.sub{
    margin-left: 377px;
}

/* stylinng the submit button */
input[type="submit"]{
    background-color: rgb(84,42,82);
    margin-left: 5px;
    margin-top: 2px;
    font-size:15px;
    width: 90px;
    height: 25px;
    border: 1px solid rgb(84,42,82);
    border-radius: 3px;
    color: white;
    /* padding: 5px 4px; */
}

/* styling the cancel button */

.button{
    font-size: 15px;
    width:90px;
    height: 25px;
}